<div class="container">
  <br>
  <h3 class="box">PHOTO ALL <span><%= @photo_image_count %>件</span></h3>
</div>


<div class="container">
  <div class="row row no-gutters">
    <%= render 'admin/photo_images/index', photo_images: @photo_images %>
  </div>
</div>


