<div class="container">
  <h1>ALL <span><%= @photo_image_count %>件</span></h1>
</div>


<div class="container">
  <div class="row row no-gutters">
    <%= render 'admin/photo_images/index', photo_images: @photo_images %>
  </div>
</div>


