<!--<div class="container">-->
<!--  <div class="form-group">-->
<!--    <h2 class='form-bottom-text'>-->
<!--      入力されたメールアドレスにパスワード再設定メールを送信します。-->
<!--    </h2>-->
<!--  </div>-->
<!--  <div class='register-btn'>-->
<!--    <%＃= f.submit "会員登録" ,class:"register-red-btn" %>-->
<!--  </div>-->
<!--</div>-->
<div class="container">
  <h4>Hello <%= @resource.email %>!</h4>
  <br>
  <p>Someone has requested a link to change your password. You can do this through the link below.</p>
  <p class="box">パスワードを変更するためのリンクをリクエストされました。以下のリンクから行うことができます。</p>
  <br>
  <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>
  <br>
  <p>If you didn't request this, please ignore this email.</p>
  <p class="box">リクエストしていない場合は、このメールを無視してください。</p>
  <br>
  <p>Your password won't change until you access the link above and create a new one.</p>
  <p class="box">上記のリンクにアクセスして新しいパスワードを作成するまでは、パスワードは変更されません。</p>
</div>