<div class="container">
  <br>
  <h3 class="box">ALBUM ALL <span><%= @album_count %>件</span></h3>
</div>

<div class="container">
  <div class="row">
    <%= render 'admin/albums/index', albums: @albums %>
  </div>
</div>

