
  <% if album.favorited_by?(current_user) %>
    <td>
      <%= link_to destroy_album_favorite_path(album), method: :DELETE, remote: true do %>
        <i class="fa-solid fa-heart"></i>
      <% end %>
      <%= album.album_favorites.count %>
    </td>
  <% else %>
    <td>
      <%= link_to create_album_favorite_path(album), method: :POST, remote: true do %>
        <i class="fa-brands fa-gratipay"></i>
      <% end %>
      <%= album.album_favorites.count %>
    </td>
  <% end %>
