<div class="container">
  <div class="row">
    <%= render 'public/albums/search' %>
  </div>
</div>
<div class="container">
  <div class="row">
    <%= render 'public/albums/index', albums: @albums %>
  </div>
</div>