<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h1 class="top">Welcome!</h1>
      <h4 class="top">recollections / 回想</h4>
      <h5 class="top">
        大切な人たちと、一人ひとりの想い出を記録・共有
      </h5>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>