@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

*{
  box-sizing: border-box; /*余白や線を幅や高さに含める*/
}

body {
  weight: 100%;
  height: 800px;
  color: #6c757d;
}



// top
.top {
  color: #6c757d;
}

// header imege icon
.fa-2x {
  color: black;
  margin: 10px;
}


// bootstrap icon
.fa-image:hover, .fa-images:hover {
  color: #008075;
}

// linkなし
a, .link {
  text-decoration: none;
}

// 文字
p {
  margin: 10px;
}

.fontcolor {
  color: #6c757d;
}


// 全てのcontainer
.container {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

// 名前の下敷き画像
.circle {
  color: black;
  width: 180px;
  height: 40px;
  margin: 0 -15px;
  mix-blend-mode: multiply;
  background: rgba( 255, 145, 171, 0.55 );
  border-radius: 30% 90% 30% 90%;
  position: center center;
}



// 新規登録・ログイン
.field {
  margin: 8px;
}

.login, .signup {
  margin-bottom: 20px;
}



// 画像投稿
.photo_new .album_new {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}


// 罫線
// .line {
//   border-bottom: 1px solid #dcdcdc;
//   margin-top: 30px;
//   margin-bottom: 30px;
// }

.line2 {
  border-bottom: 1px solid #dcdcdc;
}


// 新規登録の任意入力事項
.ninni {
  font-color: #f5f5f5;
}


// 写真
.image {
  text-align: center;
}
.photo {
  width: 100%;
  height: auto;
}

// 写真一覧のbottomあき
.photo-all {
  margin-bottom: 15px;
}


// アルバム一覧の設定
.content-album{
  flex-wrap: wrap;
  padding: 10px;
  border: 1px solid rgba(0, 51 ,39, 0.5);
  height: 100%;
}

.content-album-img img{
  object-fit: cover;
  width: 100%;
}

.name, .count {
  display: flex;
  align-items: center;
}


.col-3, .px-2 {
  margin-bottom: 15px;
}


// 横並び
.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  // margin-bottom: 10px;
  gap: 0px 10px;
}

// 上のフレックスで右よせ
.edit-delete, .count, .time {
  margin-left: auto;
  align-items: center;
}



// 写真・アルバム共通
.title {
  font-weight: bold;
  height: 30px;
}

.cap {
  padding: 0 9%;
  height: 30px;
}

.info-album, .photo {
  display: block;
  color: #6c757d;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}




// bootstrapボタンの色変更
.size {
  color: #008075;
}

// 写真・アルバム詳細のコメント欄
.comment-good {
  word-wrap: break-word;
  white-space: initial !important;
  border-top: 1px solid #6c757d;
  margin-top: 20px;
}

.text-comment {
  margin: 15px 15px 15px 0px;
}

// 画像表示
.album-image-cover {
  height: 150px;
  width: 100%;
  object-fit: cover;
}


// link設定
.link {
  color: #008075;
}

.link:hover {
  color: #008075;
}



// いいねボタン
.hearton {
  color: #d7003a;
}

.heartoff {
  color: #c0c6c9;
}



// ヘッダー
.header {
  border-bottom: 1px solid #dcdcdc;
}

// ヘッダーのbootstrapボタン
.btn {
  padding: 10px 20px;
  margin: 3px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: uppercase;
}

// 通常のボタン色
.btn-outline-outline-turquoise,
.btn-outline-turquoise.disabled, .btn-outline-turquoise:disabled {
  color: #fff;
  background-color: #00a497;
  border-color: #00a497;
}

// focusされた時の枠線の色
.btn-outline-turquoise:focus, .btn-outline-turquoise.focus,
.btn-outline-turquoise:not(:disabled):not(.disabled):active:focus, .btn-outline-turquoise:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-turquoise.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 204, 187, 0.5);
}


// hover時（マウスカーソルを重ねた時）の色（通常より濃いor暗めの色を指定）
.btn-outline-turquoise:hover {
  color: #fff;
  background-color: #008075;
  border-color: #008075;
}

// active時の色（hover時と同等かさらに濃いor暗めの色を指定）
.btn-outline-turquoise:not(:disabled):not(.disabled):active, .btn-outline-turquoise:not(:disabled):not(.disabled).active,
.show > .btn-outline-turquoise.dropdown-toggle {
  color: #fff;
  background-color: #00665e;
  border-color: #00665e;
}

// フッター
.footer-top {
  border-top: 1px solid #dcdcdc;
  padding: 20px;
  text-align: center;
}


// ページネーション
.pagination {
  display: flex;
  justify-content: center;
}
.pagination > li > a {
  border: none;
  color: #6c757d;
}
.pagination > li > a:hover {
  color: #00a497;
  background-color: white;
}
.pagination > .active > a {
  color: #00a497;
  background-color: white;
}
.pagination > .active > a:hover {
  background-color: white;
  color: #00a497;
}