@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

*{
  box-sizing: border-box; /*余白や線を幅や高さに含める*/
}
body {
  weight: 100%;
  height: 800px;
}

// header
.fa-2x {
  color: black;
  margin: 10px;
}

.fa-image:hover, .fa-images:hover {
  color: #008075;
}
//


a {
  text-decoration: none;
}



.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}


.sign_up .edit {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.photo_new .album_new {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}




.line {
  border-bottom: 1px solid #dcdcdc;
  margin-top: 30px;
  margin-bottom: 30px;
}

.ninni {
  font-color: #f5f5f5;
}



//

.content-album{
  flex-wrap: wrap;
  padding: 10px;
  border: 1px solid rgba(0, 51 ,39, 0.5);
}


.content-album-img img{
  height: 150px;
  object-fit: cover;
  width: 100%;
}





.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-bottom: 10px;
}

.title {
  font-weight: bold;
  margin-bottom: 10px;
}



.cap {
  padding: 0 9%;
  margin-bottom: 10px;
}

.edit-delete, .count {
  margin-left: auto;
  align-items: center;
}
.size {
  color: #008075;
}


.name, .count {
  display: flex;
  align-items: center;
}

.info-album {
  display: block;
  color: gray;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.link {
  color: #008075;
}

.link:hover {
  color: #008075;
  // text-decoration: none;
}

.hearton {
  color: #d7003a;
}

.heartoff {
  color: #c0c6c9;
}
.blank {
  line-height: 3;
}
.line2 {
  border-bottom: 1px solid #dcdcdc;
}

p {
  margin: 10px;
}
//

// outline: none !important;

.btn {
  padding: 10px 20px;
  margin: 3px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: uppercase;
}

/* 通常のボタン色 */
.btn-outline-outline-turquoise,
.btn-outline-turquoise.disabled, .btn-outline-turquoise:disabled {
  color: #fff;
  background-color: #00a497;
  border-color: #00a497;
}

/* focusされた時の枠線の色 */
.btn-outline-turquoise:focus, .btn-outline-turquoise.focus,
.btn-outline-turquoise:not(:disabled):not(.disabled):active:focus, .btn-outline-turquoise:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-turquoise.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 204, 187, 0.5);
}


/* hover時（マウスカーソルを重ねた時）の色（通常より濃いor暗めの色を指定）*/
.btn-outline-turquoise:hover {
  color: #fff;
  background-color: #008075;
  border-color: #008075;
}

/* active時の色（hover時と同等かさらに濃いor暗めの色を指定） */
.btn-outline-turquoise:not(:disabled):not(.disabled):active, .btn-outline-turquoise:not(:disabled):not(.disabled).active,
.show > .btn-outline-turquoise.dropdown-toggle {
  color: #fff;
  background-color: #00665e;
  border-color: #00665e;
}