@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
// @import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

*{
  box-sizing: border-box; /*余白や線を幅や高さに含める*/
}

header, body, p, footer {
  font-family:
  'Raleway', 'Futura', 'Akzidenz Grotesk', 'Segoe UI', 'Palatino', 'Copperplate',
  'alba', '遊ゴシック', '筑紫ゴシック', '中ゴシックBBB', 'メイリオ', 'Meiryo UI', 'Meiryo', sans-serif;
}


.title, body {
  weight: 100%;
  height: 800px;
  color: #6c757d;
}

.navbar-light .navbar-brand {
  color: #6c757d;
}

// top
.top {
  color: #6c757d;
}

// header imege icon
.fa-2x {
  color: #6c757d;
  margin: 10px;
}


// bootstrap icon
// .fa-image:hover, .fa-images:hover {
//   color: #008075;
// }

// link設定
.link {
  text-decoration: none !important;
  color: #008075;
}

a:hover {
  color: #cc7eb1;
  background-color: #fff;
  border-color: #cc7eb1;
}


// 文字
p {
  margin: 10px;
}

.fontcolor {
  color: #6c757d;
}

//全ての表の余白
.box {
  margin-bottom: 10px;
}

// 全てのcontainer
.container {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}





// 新規登録・ログイン
.field {
  margin: 8px;
}


// 画像投稿
.photo_new .album_new {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}



// 写真
.image {
  text-align: center;
}

.photo {
  width: 100%;
  height: auto;
}

.comment {
  margin-top: 20px;
}

// 写真一覧のbottomあき
.photo-all {
  margin-bottom: 15px;
}


// アルバム一覧の設定
.content-album{
  flex-wrap: wrap;
  padding: 10px;
  border: 1px solid rgba(0, 51 ,39, 0.5);
  height: 100%;
}

.content-album-img img{
  object-fit: cover;
  width: 100%;
}

.name, .count {
  display: flex;
  align-items: center;
}


.col-3, .px-2 {
  margin-bottom: 15px;
}


// 横並び
.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  // margin-bottom: 10px;
  gap: 0px 10px;
}

// 上のフレックスで右よせ
.edit-delete, .count, .time {
  margin-left: auto;
  align-items: center;
}



// 写真・アルバム共通
.title {
  font-weight: bold;
  height: 30px;
}

.cap {
  text-indent: 1em;
  height: 30px;
}

.info-album, .photo {
  display: block;
  color: #6c757d;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.count-font {
  font-size: 0.8em;
  color: #9aa7b3;
  font-weight: lighter;
}



// 写真・アルバム詳細のコメント欄
.comment-good {
  word-wrap: break-word;
  white-space: initial !important;
  border-top: 10px solid rgba( 128, 171, 169, 0.55 );
  margin-top: 20px;
}

.text-comment {
  margin: 15px 15px 15px 0px;
}

// 画像表示
.album-image-cover {
  height: 150px;
  width: 100%;
  object-fit: cover;
}


// いいねボタン
.hearton {
  color: #d7003a;
}

.heartoff {
  color: #c0c6c9;
}



// ヘッダー
.header {
  border-bottom: 1px solid #dcdcdc;
}

// ヘッダーのbootstrapボタン
.btn {
  margin: 3px;
  border: 0 none;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #6c757d;
}

// // // // ヘッダーボタン
// 通常のボタン色
.btn-outline-outline-turquoise,
.btn-outline-turquoise.disabled, .btn-outline-turquoise:disabled {
  color: #fff;
  background-color: #00a497;
  border-color: #00a497;
}

// focusされた時の枠線の色
.btn-outline-turquoise:focus, .btn-outline-turquoise.focus,
.btn-outline-turquoise:not(:disabled):not(.disabled):active:focus,
.btn-outline-turquoise:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-turquoise.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 204, 187, 0.5);
}


// hover時（マウスカーソルを重ねた時）の色（通常より濃いor暗めの色を指定）
.btn-outline-turquoise:hover {
  color: #fff;
  background-color: #008075;
  border-color: #008075;
}

// active時の色（hover時と同等かさらに濃いor暗めの色を指定）
.btn-outline-turquoise:not(:disabled):not(.disabled):active,
.btn-outline-turquoise:not(:disabled):not(.disabled).active,
.show > .btn-outline-turquoise.dropdown-toggle {
  color: #fff;
  background-color: #00665e;
  border-color: #00665e;
}

// フッター
.footer-top {
  border-top: 1px solid #dcdcdc;
  padding: 20px;
  text-align: center;
}


// ページネーション
.pagination {
  display: flex;
  justify-content: center;
}
.pagination > li > a {
  border: none;
  color: #6c757d;
}
.pagination > li > a:hover {
  color: #00a497;
  background-color: white;
}
.pagination > .active > a {
  color: #00a497;
  background-color: white;
}
.pagination > .active > a:hover {
  background-color: white;
  color: #00a497;
}


// // // // 通常ボタン
// 通常のボタン
.btn-outline-outline-lightgreen,
.btn-outline-lightgreen.disabled, .btn-outline-lightgreen:disabled {
  color: #fff;
  background-color: #60a39b;
  border-color: #60a39b;
}

// focusされた時の枠線の色
.btn-outline-lightgreen:focus, .btn-outline-lightgreen.focus,
.btn-outline-lightgreen:not(:disabled):not(.disabled):active:focus,
.btn-outline-lightgreen:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-lightgreen.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 204, 187, 0.5);
}


// hover時（マウスカーソルを重ねた時）の色（通常より濃いor暗めの色を指定）
.btn-outline-lightgreen:hover {
  color: #fff;
  background-color: #60a39b;
  border-color: #60a39b;
}

// active時の色（hover時と同等かさらに濃いor暗めの色を指定）
.btn-outline-lightgreen:not(:disabled):not(.disabled):active,
.btn-outline-lightgreen:not(:disabled):not(.disabled).active,
.show > .btn-outline-lightgreen.dropdown-toggle {
  color: #fff;
  background-color: #00665e;
  border-color: #00665e;
}


// // // // 赤ボタン
// 通常のボタン
.btn-outline-outline-red,
.btn-outline-red.disabled, .btn-outline-red:disabled {
  color: #fff;
  background-color: #a25768;
  border-color: #a25768;
}

// focusされた時の枠線の色
.btn-outline-red:focus, .btn-outline-red.focus,
.btn-outline-red:not(:disabled):not(.disabled):active:focus,
.btn-outline-red:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-red.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 204, 187, 0.5);
}


// hover時（マウスカーソルを重ねた時）の色（通常より濃いor暗めの色を指定）
.btn-outline-red:hover {
  color: #fff;
  background-color: #a25768;
  border-color: #a25768;
}

// active時の色（hover時と同等かさらに濃いor暗めの色を指定）
.btn-outline-red:not(:disabled):not(.disabled):active,
.btn-outline-red:not(:disabled):not(.disabled).active,
.show > .btn-outline-red.dropdown-toggle {
  color: #fff;
  background-color: #a22041;
  border-color: #a22041;
}


// // // // 青ボタン
// 通常のボタン
.btn-outline-outline-blue,
.btn-outline-blue.disabled, .btn-outline-blue:disabled {
  color: #fff;
  background-color: #007bbb;
  border-color: #007bbb;
}

// focusされた時の枠線の色
.btn-outline-blue:focus, .btn-outline-blue.focus,
.btn-outline-blue:not(:disabled):not(.disabled):active:focus,
.btn-outline-blue:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-blue.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 204, 187, 0.5);
}


// hover時（マウスカーソルを重ねた時）の色（通常より濃いor暗めの色を指定）
.btn-outline-blue:hover {
  color: #fff;
  background-color: #007bbb;
  border-color: #007bbb;
}

// active時の色（hover時と同等かさらに濃いor暗めの色を指定）
.btn-outline-blue:not(:disabled):not(.disabled):active,
.btn-outline-blue:not(:disabled):not(.disabled).active,
.show > .btn-outline-blue.dropdown-toggle {
  color: #fff;
  background-color: #1e50a2;
  border-color: #1e50a2;
}