  <% if album_photo_comment.gooded_by?(current_user) %>
    <td>
      <%= link_to album_photo_image_album_photo_comment_album_photo_goods_path(album_photo_image.id, album_photo_comment.id), method: :delete, remote: true do %>
        <i class="fa-solid fa-thumbs-up" style="color: #60a39b;"></i>
      <% end %>
      <%= album_photo_comment.album_photo_goods.count %>
    </td>
  <% else %>
    <td>
      <%= link_to album_photo_image_album_photo_comment_album_photo_goods_path(album_photo_image.id, album_photo_comment.id), method: :post, remote: true do %>
        <i class="fa-solid fa-thumbs-up" style="color:#d3d3d3;"></i>
      <% end %>
      <%= album_photo_comment.album_photo_goods.count %>
    </td>
  <% end %>
