<h1>ALL</h1>
<% @photo_images.each do |photo_image| %>

  <%= image_tag photo_image.image, size: "200x200" if photo_image.image.attached? %>
  <%= link_to "編集", edit_photo_image_path(photo_image.id) %>
  <%= @photo_image.created_at.strftime('%Y/%m/%d') %>

<% end %>


