
<div class="container">
  <br>
  <h3 class="box"><%= @user.name %>'s ALBUM<span class="count-font">　<<%= @albums_count %>albums></span></h3>
</div>

<div class="container">
  <div class="row">
    <%= render 'admin/albums/index', albums: @user.albums %>
  </div>
</div>

<div class="container">
  <%= link_to "#{@user.name}'s pageへ戻る", admin_user_path(@user.id), class: "btn btn-outline-lightgreen" %>
</div>