<div class="container">
  <div class="row">
    <div class="col-2">
      <br>
      <h3 class='box'>Notice</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="box">
        <% if @notifications.exists? %>
          <div class="users-index">
              <%= render @notifications %>
          </div>
        <% else %>
          <p>通知はありません</p>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="box">
      <%= link_to destroy_all_notifications_path, method: :delete, class: "link" do %>
          <i class="fas fa-trash"></i>全削除
      <% end %>
      </div>
    </div>
  </div>
</div>
