<% if album_photo_image.favorited_by?(current_user) %>
  <td>
    <%= link_to album_photo_image_album_photo_image_favorites_path(album_photo_image), method: :delete , remote: true do %>
      <i class="fa-solid fa-heart hearton"></i>
    <% end %>
    <%= album_photo_image.album_photo_image_favorites.count %>
  </td>
<% else %>
  <td>
    <%= link_to album_photo_image_album_photo_image_favorites_path(album_photo_image), method: :post, remote: true do %>
      <i class="fa-solid fa-heart heartoff"></i>
    <% end %>
    <%= album_photo_image.album_photo_image_favorites.count %>
  </td>
<% end %>

