
<div class="row row no-gutters">
  <%= render 'public/photo_images/favorite', favorited_photo_images: @favorited_photo_images %>
</div>

<div class="row row no-gutters">
  <%= render 'public/albums/album_favorite', favorited_albums: @favorited_albums %>
</div>